h1 {text-align: center;
}

img {display:block;
margin-left: auto;
margin-right: auto;
width: 40%;}

#intro {text-align: center;}

.style {font-style: italic;}

h2 {color: navy;
font-weight: bold ;}

h3 {color: navy;
font-weight: bold;}